In [1]:
import sqlite3
import pandas as pd

In [2]:
def run_query(q):
    with sqlite3.connect('WarioINC.db') as conn:
        return pd.read_sql(q, conn)

In [4]:
def run_command(c):
    with sqlite3.connect('WarioINC.db') as conn:
        conn.isolation_level = None
        conn.execute(c)

In [12]:
create_employees = '''CREATE TABLE employees (
                      employee_id int PRIMARY KEY,
                      address_id int,
                      department_id int,
                      name varchar (255),
                      age int,
                      salary bigint,
                      FOREIGN KEY(department_id) REFERENCES departments(departments_id)
                      FOREIGN KEY(address_id) REFERENCES addresses (address_id)
                      )
'''

In [11]:
#run_command('DROP TABLE employees')

In [13]:
run_command(create_employees)

In [14]:
create_addresses = '''CREATE TABLE addresses (
                      address_id int PRIMARY KEY,
                      street varchar (255),
                      city varchar (255),
                      state varchar (2)
                      )
'''

In [16]:
run_command(create_addresses)

In [17]:
#run_command('DROP TABLE addresses')

In [ ]:
create_departments = '''
'''